<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Changelog Generator</title>
    </head>
    <body>
        <h1>Changelog Generator</h1>
        <form action="/submit" method="post">
            <label for="version1">Version 1:</label>
            <input type="text" id="version1" name="version1"><br>
            <label for="version2">Version 2:</label>
            <input type="text" id="version2" name="version2"><br>
            <label for="id">Version ID:</label>
            <input type="text" id="id" name="id"><br>
            <button>Generate Changelog</button>
        </form>

    </body>
</html>