/* Retirer les styles déjà gérés par Bootstrap */
body {
    background-color: #f4f4f4; /* Fond clair */
    color: #333; /* Texte gris foncé */
}
.container {
    max-width: 80%;
}
.card {
    border-radius: 0.5rem; /* Coins légèrement arrondis */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre subtile */
}

button:hover {
    transform: scale(1.05); /* Effet de zoom léger sur hover */
    transition: transform 0.2s ease-in-out; /* Transition douce */
}
